<form method="post" action="{{ path('app_api_credential_delete', {'id': api_credential.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette clé');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ api_credential.id) }}">
    <button class="btn btn-red btn-sm"><span class="icon supprimer">Supprimer</span> </button>
</form>
