{% extends 'base.html.twig' %}
{% block extra_title %} Nouveau utilisateur {% endblock %}
{% block body %}
    <div id="mainContent" class="main-content expanded">
        <div class="content">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
                    <h4 class="content-label">Gestion des utilisateurs</h4>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
                        <h6 class="content-title">Nouvel utilisateur</h6>
                        <a href="{{ absolute_url(path('app_api_credential_index')) }}" class="btn btn-blue"><span class="icon liste">Liste</span> </a>
                    </div>

                    <div class="card mt-5">
                        <div class="card-body">
                            <form action="" class="formulaire g-3 needs-validation" id="formSubmit" novalidate>
                                <div class="row form-group">
                                    <div class="col-12 mt-3">
                                        <label for="inputSigle" class="form-label">URL de l'API</label>
                                        <input type="text" id="inputSigle" class="form-control" placeholder="Sigle de l'ASN" required>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label for="inputNom" class="form-label">Nom</label>
                                        <input type="text" id="inputNom" class="form-control" placeholder="Nom de l'ASN" required>
                                        <div class="invalid-feedback">Le nom est obligatoire</div>
                                    </div>
                                    <div class="col-12 mt-5 text-end">
                                        <button class="btn btn-red btn-sm"><span class="icon supprimer">Supprimer</span> </button>
                                        <button class="btn btn-transparent btn-sm"><span class="icon annuler">Annuler</span></button>
                                        <button class="btn btn-blue btn-sm"> <span class="icon ajouter">Ajouter</span> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="loader-overlay" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Chargement...</span>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
    <style>
        .turbo-frame-error{
            font-style: italic;
            color: yellow;
        }

        .formulaire ul{
            list-style: none;
        }
        .formulaire ul li{
            font-style: italic;
            color: yellow;
        }
    </style>

{% endblock %}

{% block extra_javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector(".formulaire");
            const submitButton = document.querySelector("button[type='submit']");

            form.addEventListener("submit", function () {
                submitButton.disabled = true;
                submitButton.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Traitement...';
            });
        });

    </script>
{% endblock %}