{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Tableau de bord {% endblock %}

{% block body %}
    <div id="mainContent" class="main-content expanded">
        <!-- Statistiques des branches -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4 mb-5">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Louveteaux</div>
                        <div class="card-effectif">25.124 <span>25%</span> </div>
                        <div class="card-genre fille"><span>2500</span> Filles</div>
                        <div class="card-genre garcon"><span>3520</span> Garçons</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Eclaireurs</div>
                        <div class="card-effectif">31.047 <span>32%</span> </div>
                        <div class="card-genre fille"><span>2500</span> Filles</div>
                        <div class="card-genre garcon"><span>3520</span> Garçons</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Cheminot</div>
                        <div class="card-effectif">15.785 <span>17%</span> </div>
                        <div class="card-genre fille"><span>2500</span> Filles</div>
                        <div class="card-genre garcon"><span>3520</span> Garçons</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Routiers</div>
                        <div class="card-effectif">7.587 <span>15%</span> </div>
                        <div class="card-genre fille"><span>2500</span> Filles</div>
                        <div class="card-genre garcon"><span>3520</span> Garçons</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Total</div>
                        <div class="card-effectif total">55.000 </div>
                        <div class="card-genre fille"><span>2500</span> Filles</div>
                        <div class="card-genre garcon"><span>3520</span> Garçons</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Statistiques du genre-->
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-label">Line de connexion des utilisateurs de ce mois</div>
                        <canvas id="userLineChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="card h-100 no-border">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 g-3">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-label">Filles</div>
                                    <div class="card-effectif">25.124 <span>25%</span> </div>
                                    <div class="card-genre fille"><span>2500</span> Jeunes</div>
                                    <div class="card-genre garcon"><span>3520</span> Adultes</div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-label">Garçons</div>
                                    <div class="card-effectif">25.124 <span>25%</span> </div>
                                    <div class="card-genre fille"><span>2500</span> Jeunes</div>
                                    <div class="card-genre garcon"><span>3520</span> Adultes</div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-label">Total</div>
                                    <div class="card-effectif">25.124</div>
                                    <div class="card-genre fille"><span>2500</span> Jeunes</div>
                                    <div class="card-genre garcon"><span>3520</span> Adultes</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Liste des utilisateurs et inscrits-->
        <div class="row row-cols-1 row-cols-lg-2 g-4 mt-5">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between w-100 mb-3">
                            <div class="card-label">Logs des utilisateurs</div>
                            <a href="#" class="card-link">Voir plus</a>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-striped table-borderless mb-2px small text-nowrap">
                                <tbody>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>SC256878 est entré dans l'arêne des invisibles</td>
                                </tr>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>CF257874 a pointé SC257874 comme à la réunion R254778</td>
                                </tr>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>SC257845 est sorti de l'arène des invisibles</td>
                                </tr><tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>CF257874 a pointé SC257874 comme à la réunion R254778</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between w-100 mb-3">
                            <div class="card-label">Logs des utilisateurs</div>
                            <a href="#" class="card-link">Voir plus</a>
                        </div>


                        <div id="dasboard" class="table-responsive">
                            <table class="table table-striped table-borderless mb-2px small text-nowrap">
                                <tbody>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>SC256878 est entré dans l'arêne des invisibles</td>
                                </tr>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>CF257874 a pointé SC257874 comme à la réunion R254778</td>
                                </tr>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>SC257845 est sorti de l'arène des invisibles</td>
                                </tr>
                                <tr>
                                    <th scope="row">25-05-05- 14:25:03</th>
                                    <td>CF257874 a pointé SC257874 comme à la réunion R254778</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}