@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-lightblue: #016ebb;
$color-blue: #004ba3;
$color-darkblue: #000f78;
$color-bluegrey: #000316;
$color-white: #fff;
$color-whiteblue: #c0d4dd;
$color-lightgray: #5f697e;

:root {
    --font-family: 'Inter', sans-serif;
    --color-lightblue: #016ebb;
    --color-blue: #004ba3;
    --color-darkblue: #000f78;
    --color-white: #fff;
    --color-whiteblue: #c0d4dd;
    --color-bluegrey: #000316;
    --color-lightgray: #5f697e;
}

body {
    font-family: var(--font-family), sans-serif;
    color: var(--color-whiteblue);
}

.cover-overlay {
    position: relative;
    min-height: 100vh;
    background: url("../images/cover.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

    .overlay-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(7, 8, 27, 0.85);
        // background-color: rgba(7, 27, 15, 0.85);

        // Carreaux gris superposés
        background-image:
            linear-gradient(rgba(128, 128, 128, 0.09) 1px, transparent 1px),
            linear-gradient(90deg, rgba(128, 128, 128, 0.09) 1px, transparent 1px);
        background-size: 40px 40px;
    }

    .wrapper {
        position: relative;
        z-index: 2;
        //color: $color-whiteblue; // Texte blanc ici
        font-family: var(--font-family), sans-serif;
        color: var(--color-whiteblue) !important;

        label {
            color: #71859c !important;
        }

        .nav-link {
            font-weight: 400;

            &:hover {
                color: #fff !important;
            }
        }
    }
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.btn-blue {
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 0;

    &:hover {
        border-color: var(--color-blue);
    }
}

.btn-red {
    background: darkred;
    color: var(--color-white);
    border-radius: 0;

    &:hover {
        border-color: darkred;
    }
}

.btn-transparent {
    background: rgba($color-lightgray, 0.1);
    color: var(--color-white);
    border-radius: 0;
    border-color: rgba($color-lightgray, 0.7);

    &:hover {
        background-color: rgba($color-lightgray, 0.7);
    }
}

.bordered {
    &-left {
        border-left: solid 1px rgba($color-lightgray, 0.5);
    }

    &-right {
        border-right: solid 1px rgba($color-lightgray, 0.5);
    }

    &-top {
        border-top: solid 1px rgba($color-lightgray, 0.5);
    }

    &-bottom {
        border-bottom: solid 1px rgba($color-lightgray, 0.5);
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    &::before {
        font-family: "bootstrap-icons";
        color: var(--color-white);
        margin-right: 8px;
        font-size: 1rem;
        vertical-align: middle;
    }

    &.ajouter {
        &::before {
            content: "\F4FA";
        }
    }

    &.liste {
        &::before {
            content: "\F478";
        }
    }

    &.modifier {
        &::before {
            content: "\F4CA";
        }
    }

    &.supprimer {
        &::before {
            content: "\F78B";
        }
    }

    &.annuler {
        &::before {
            content: "\F623";
        }
    }
}


header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    background: var(--color-bluegrey);
    padding: 12px 0;
}

.menu-header {
    a {
        color: var(--color-whiteblue);

        &.brand-bar {
            font-size: 1.5rem;
            font-weight: 700;
            margin: auto 10px;
            color: #fff !important;
        }
    }

    .sr-logo {
        display: flex;
        align-items: center;

        &-img {
            width: auto;
            height: 35px;
            margin: auto 10px;

            @media screen and (max-width: 467px) {
                height: 20px;
                margin: auto 5px;
            }
        }

        &-text {
            font-size: 1.6rem;
            font-weight: 700;

            @media screen and (max-width: 467px) {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .dropdown {
        &-menu {
            background-color: var(--color-bluegrey);
        }

        &-item {
            &:hover {
                background-color: var(--color-darkblue);
            }
        }

        a {
            color: var(--color-whiteblue);
        }
    }
}

aside {
    position: relative;
    margin: 10px auto;
    width: 400px;
}

.menu-vertical {
    overflow-y: auto;
    transition: transform .3s ease;


    .nav {
        margin-left: 25px;
        color: var(--color-whiteblue);

        i {
            margin-right: 12px;
        }

        .label {
            margin: 25px 0 10px;
        }

        label {
            font-size: 0.7rem;
            font-weight: 600;
            color: #000;
            border-bottom: dashed 1px #cccccc3b;
        }

        &-link {
            color: var(--color-whiteblue);

            &:hover {
                color: #fff;
            }

            &.active {
                color: #fff;

                i {
                    color: var(--color-lightblue);
                }
            }
        }
    }
}

main {
    display: flex;

    &.connexion {
        height: 100vh;
        justify-content: center;
        align-items: center;
        align-content: center;

        .card {
            &-body {
                padding: 50px 30px;
            }

            &-title {
                width: 100%;
                text-align: center;
                font-size: 1.7rem;
                font-weight: 700;
            }
        }
    }
}


.mobile-close .btn {
    font-size: .7rem;
    padding: 0.25rem 0.5rem;
}


@media screen and (min-width: 992px) {
    .menu-vertical {
        margin-top: 50px;

        &.menu-hidden {
            transform: translateX(-260px);

            &+.main-content {
                margin-left: -300px;
            }
        }
    }

    .main-content {
        margin-left: 0;
        width: calc(100% - 260px);

        &.expanded {
            margin-left: 0;
            transition: margin-left 0.3s ease;
            width: 100%;
        }
    }

}

@media screen and (max-width: 991px) {
    .menu-vertical {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: var(--color-bluegrey);
        z-index: 1050;
        transform: translateX(-100%);
        width: 250px;
        overflow-y: auto;
    }

    .menu-vertical.menu-visible {
        transform: translateX(0);
    }
}

.main-content {
    flex-grow: 1;
    margin: 20px;
    transition: margin-left 0.3s ease;
    margin-top: 100px;
    color: var(--color-whiteblue);

    .card {
        background: transparent !important;
        border: solid 1px rgba($color: $color-whiteblue, $alpha: 0.25);
        border-radius: 0;
        color: var(--color-whiteblue);

        &.no-border {
            border: none;
        }

        &-label {
            color: #5f697e;
            font-size: 0.8rem;
            font-weight: 700;
        }

        &-effectif {
            // display: flex;
            color: var(--color-white);
            font-size: 1.5em;
            font-weight: 700;
            padding: 10px 0;
            width: 100%;

            span {
                float: right;
                color: var(--color-lightblue);
            }
        }

        &-genre {
            font-size: 0.85rem;
            color: var(--color-lightgray);
            font-weight: 500;


            &.fille {
                &::before {
                    font-family: "bootstrap-icons";
                    content: "\F642";
                    margin-right: 8px;
                    font-size: 1rem;
                    color: var(--color-lightblue);
                    vertical-align: middle;
                }
            }

            &.garcon {
                &::before {
                    font-family: "bootstrap-icons";
                    content: "\F643";
                    margin-right: 8px;
                    font-size: 1rem;
                    color: var(--color-lightblue);
                    vertical-align: middle;
                }
            }
        }

        &-link {
            color: var(--color-lightblue);
            font-style: italic;
            font-weight: 700;
            font-size: 0.9rem;

            &:hover {
                color: var(--color-whiteblue);
            }

            &::before {
                font-family: "bootstrap-icons";
                content: "\F5D4";
                margin-right: 8px;
                font-size: 1rem;
                color: var(--color-lightblue);
                vertical-align: middle;
            }
        }
    }

    .table {
        --bs-table-bg: transparent !important;
        width: 100%;
        --bs-table-color: var(--color-whiteblue);
        --bs-table-hover-color: rgba($color-white, 0.9);
        --bs-table-hover-bg: rgba($color-lightgray, 0.9);

        &-striped {
            --bs-table-striped-color: var(--color-lightgray);
            --bs-table-striped-bg: rgba($color-lightgray, 0.9);
        }

        &-liste {
            // border: solid 1px rgba($color-lightgray, 0.5);
            background: rgba($color-lightgray, 0.1);

            tr {
                border-bottom: solid 1px rgba($color-lightgray, 0.5);
            }

            thead {
                background-color: rgba($color-lightgray, 0.3);
            }

        }

    }

    .content {
        width: 100%;

        hr {
            margin-bottom: 50px;
        }

        @media screen and (min-width: 1200px) {
            width: 80%;
        }
    }
}

#userLineChart {
    height: 500px !important;
}

.formulaire {
    input {
        &::placeholder {
            color: var(--color-lightgray);
            font-style: italic;
        }

        &.form-check-input {
            --bs-form-check-bg: transparent !important;
            border-color: rgba($color-lightgray, 0.5);
            width: 1.1rem;
            height: 1.1em;
        }
    }

    label {
        font-weight: 700;
        margin-bottom: 7px;

        span {
            color: rgb(189, 7, 7);
        }
    }

    .form-control {
        background: transparent !important;
        border-color: rgba(var(--color-lightgray), 0.5);
        color: var(--color-white);
        border-radius: 0;
    }

    .invalid-feedback {
        color: yellow !important;
        font-style: italic;
    }
}

.profile {
    .img-thumbnail {
        background: rgba($color-lightgray, 0.3);
        border: solid 1px rgba($color-lightgray, 0.4);

        &.pt-avatar {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    .card {
        &-title {
            color: var(--color-lightblue);
        }
    }

    .mobile {
        &-identite {
            width: 80%;
            margin-left: 30px;
            display: flex;
            justify-content: start;
            align-items: center;

            &__content {
                margin-left: 20px;

                .identite {
                    &-nom, 
                    &-code,
                    &-phone{
                        display: flex; 
                        align-items: center;

                        &::before {
                            font-family: "bootstrap-icons";
                            color: var(--color-white);
                            margin-right: 8px;
                            font-size: 1rem;
                            vertical-align: middle;
                        }
                    }

                    &-nom {
                        font-weight: 800;

                        &::before {
                            content: "\F4D4";
                        }
                    }

                    &-code{
                        &::before {
                            content: "\F6AE";
                        }
                    }

                    &-phone{
                        &::before {
                            content: "\F5C1";
                        }
                    }
                }
            }
        }

        &-menu {
            margin-right: 10px;
            font-size: 1.5rem;

            .dropdown{
                &-menu{
                    background: rgba($color-lightgray, 0.8);
                    border-radius: 0;   
                    
                    a{
                        color: var(--color-whiteblue);
                    }
                }
            }
        }
    }


    &-information {
        text-align: center;
        margin-top: 10px;

        .code {
            font-weight: 700;
            color: var(--color-white);
        }
    }

    &-form {
        .block {
            &-title {
                border-bottom: dashed 1px rgba($color-lightgray, 0.75);
            }
        }

        .form-control {
            background: rgba($color-lightgray, 0.1) !important;
            border: solid 1px rgba($color-lightgray, 0.1);
            border-radius: 0;
            color: var(--color-white);
        }

        label {
            font-size: 0.85rem;
            font-style: italic;
        }
    }

    .list-group {
        margin-top: 50px;
        --bs-list-group-color: rgba($color-white, 0.9);
        --bs-list-group-bg: transaprent !important;

        &-item {
            border-bottom: solid 1px rgba($color-lightgray, 0.3);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            color: var(--color-whiteblue);

            &:hover {
                background: rgba($color-lightgray, 0.3);
                color: var(--color-blue);

            }
        }
    }

    .activite{
        .list-group-item{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

.block {
    &.-title {
        border-bottom: solid 1px #fff;
    }
}

.modal {
    //-bs-modal-color: var(--bs-body-color);
    --bs-modal-bg: #badbeb9f;
    --bs-modal-border-color: #ffffff9d;
    color: #000f78;
    z-index: 2000;

    &-title {
        text-align: center;
    }
}